/**
 * Author: Shrilakshmi Upadhya
 * Date: 6th September 2024
 * 
 * Description: This is the styles file for login page.
 */

.login-wrapper:before {
    position: fixed;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/images/background.png') no-repeat center center/cover;
    filter: blur(8px);
    backdrop-filter: blur(5px);
}

.login-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}


.login-container, .otp-container,
.screen-verification-container,
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 120vh; */
    width: 35%;
    max-height: 500px;
    padding-left: 2%;
    position: relative;
    z-index: 1;
}

/* .otp-container,
.image-verification-container,
.dashboard {
    width: 45%;
    min-height: 400px;
    padding-right: 2%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

h2 {
    font-size: 36px;
    color: #6a1b9a;
    font-style: italic;
}

h1 {
    font-size: 42px;
    color: #000000;
    font-style: italic;
}

input {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

input::placeholder {
    color: black;
    opacity: 1;
}

button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #6a1b9a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4a148c;
}

.error {
    color: red;
    font-size: 18px;
    text-align: center;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
  } */

img.selected {
    border: 2px solid blue;
}

.image-container {
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.captcha-verification-container {
    text-align: center;
    margin-top: 20px;
}

.captcha-verification-container h2 {
    font-size: 2rem;
    color: #673ab7;
    margin-bottom: 10px;
}

.captcha-verification-container p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.recaptcha-container {
    margin-bottom: 30px;
}



.image-container img {
    max-width: 150px;
    margin-bottom: 20px;
}

.send-otp-btn {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    width: auto;
    height: auto;
}

.send-otp-btn:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}

.send-otp-btn:hover:not(:disabled) {
    background-color: #4a148c;
}

.error {
    color: red;
    margin-top: 10px;
}

.resend-otp-btn {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.resend-otp-btn.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.forgot-password-link {
    color: #6a1b9a;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
}

.forgot-password-link:hover, .forgot-password-link:active {
    color: #4a148c; /* Color change on hover */
}
