/**
 * Author: Rahul Prasad
 * Date: 5th September 2024
 * 
 * Description: This is styles for user signup page.
 */

 .signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-wrapper .registration-container:before {
  position: fixed;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assets/images/background.png') no-repeat center center/cover;
  filter: blur(8px);
  backdrop-filter: blur(5px);
}

.signup-wrapper .registration-container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  width: 75%;
  max-width: 1200px;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.signup-wrapper .image-container {
  width: 35%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.signup-wrapper .image-container img {
  max-width: 100%;
  height: auto;
}

.signup-wrapper .form-container {
  width: 85%;
  padding-right: 8%;
}

.signup-wrapper h2 {
  font-size: 42px;
  color: black;
  font-style: italic;
  text-align: center;
  padding-left: 0%;
  margin-left: 0px;
  margin-right: 10%;
}

.signup-wrapper h3 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #6a1b9a;
  padding-right: 8%;
  font-weight: bold;
}

.signup-wrapper .signup_span {
  width: 0;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
}

.signup-wrapper .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup-wrapper input, .signup-wrapper select {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  box-sizing: border-box;
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
}

.signup-wrapper input::placeholder {
  color: black;
  opacity: 1;
}


.signup-wrapper .submit-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-wrapper .submit-btn:hover {
  background-color: #4a148c;
}

.signup-wrapper .login-link {
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
  font-size: 25px;
  color: #6a1b9a;
}

.signup-wrapper .login-link a {
  color: #6a1b9a;
  text-decoration: underline;
}

.signup-wrapper .login-link a:hover {
  color: #000000;
}

.signup-wrapper .formErrors {
  color: red;
  font-size: 18px;
}
